src/main/resources/xsd/fednot/anna/BceNumberFeedbackArchive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://fednot.be/2024/06/11/lta/anna/bceNumberFeedbackArchive"
           xmlns="http://fednot.be/2024/06/11/lta/anna/bceNumberFeedbackArchive"
           xmlns:common="http://fednot.be/2023/08/08/lta/anna/common">
    <xs:annotation>
        <xs:documentation xml:lang="en">
            Archive that contains metadata on the BceNumberFeedbackArchiveSIP.  This archive is generated by BOSA in the
            context of an Enterprise Creation and is based on data received from CBE.  The xml document contains
            metadata that must be processed by ANNA search.

            History of changes:
            - 11/06/2024 : no longer possible to pass the deposit date in the archive xml.
            - 08/08/2023 : updated namespaces
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://fednot.be/2023/08/08/lta/anna/common"
               schemaLocation="CommonTypes.xsd" />

    <xs:element name="bceNumberFeedbackArchive">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Xml document containing the assigned enterprise number, the deposit date and some metadata.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>

                <xs:element name="referenceXsdOid" type="common:oid" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            All versions of the xsd schemas that were used at some point in LTA Core and in ANNA search
                            are given an oid and are stored long term.  This element refers to the oid of the xsd schema
                            that was used to construct this BceNumberFeedbackArchive.

                            The element is optional, but it is highly recommended to fill it in.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="receivalDate" type="xs:date">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The date when the enterprise number was received from CBE.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="receivalTime" type="xs:time">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The time when the enterprise number was received from CBE.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="enterpriseNumber" type="common:bceNumber">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The enterprise number assigned to the newly created company.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>