src/main/resources/xsd/fednot/anna/EnterpriseDepositArchive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://fednot.be/2023/08/08/lta/anna/enterpriseDepositArchive"
           xmlns="http://fednot.be/2023/08/08/lta/anna/enterpriseDepositArchive"
           xmlns:common="http://fednot.be/2023/08/08/lta/anna/common">

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Common data structures used in the Enterprise Creation and Modification
            Deposit archives.

            History of changes:
            - 08/08/2023 : updated namespaces + added the juridicalDistrictDivisionType
            - 08/05/2023 : formal on the documentTypes + added INITIAL_OR_COORDINATED_STATUTES type + removed annextype (string instead)
            - 02/03/2025 : juridicalDistrictType mandatory
            - 25/01/2023 : updated namespaces + added juridical districts needed for company deeds search.
            - 23/01/2023 : initial version.

        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://fednot.be/2023/08/08/lta/anna/common"
               schemaLocation="CommonTypes.xsd" />

    <xs:simpleType name="actObjectCode">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                An act object code.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="legalFormCode">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A legal form code.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="enterpriseDepositType" final="restriction">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Enumeration to indicate the type of enterprise deposit: creation or modification.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENTERPRISE_CREATION">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        An enterprise creation.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ENTERPRISE_MODIFICATION">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        An enterprise modification.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="juridicalDistrictType" final="restriction">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Enumeration to indicate a juridical district.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANTWERPEN">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The ANTWERPEN juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRABANT_WALLON">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The BRABANT WALLON juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRUSSEL">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The BRUSSEL juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRUXELLES">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The BRUXELLES juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EUPEN">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The EUPEN juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HAINAUT">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The HAINAUT juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LEUVEN">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The LEUVEN juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIEGE">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The LIEGE juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIMBURG">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The LIMBURG juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LUXEMBOURG">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The LUXEMBOURG juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAMUR">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The NAMUR juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OOST-VLAANDEREN">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The OOST-VLAANDEREN juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WEST-VLAANDEREN">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The WEST-VLAANDEREN juridical district.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="juridicalDistrictDivisionType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Enumeration to indicate a juridical district division.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ANTWERPEN">
                <xs:annotation>
                    <xs:documentation>The ANTWERPEN juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TURNHOUT">
                <xs:annotation>
                    <xs:documentation>The TURNHOUT juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MECHELEN">
                <xs:annotation>
                    <xs:documentation>The MECHELEN juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VEURNE">
                <xs:annotation>
                    <xs:documentation>The VEURNE juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="KORTRIJK">
                <xs:annotation>
                    <xs:documentation>The KORTRIJK juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRUGGE">
                <xs:annotation>
                    <xs:documentation>The BRUGGE juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OOSTENDE">
                <xs:annotation>
                    <xs:documentation>The OOSTENDE juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IEPER">
                <xs:annotation>
                    <xs:documentation>The IEPER juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LEUVEN">
                <xs:annotation>
                    <xs:documentation>The LEUVEN juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRUSSEL">
                <xs:annotation>
                    <xs:documentation>The BRUSSEL juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRUXELLES">
                <xs:annotation>
                    <xs:documentation>The BRUXELLES juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BRABANT_WALLON">
                <xs:annotation>
                    <xs:documentation>The BRABANT_WALLON juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DENDERMONDE">
                <xs:annotation>
                    <xs:documentation>The DENDERMONDE juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GENT">
                <xs:annotation>
                    <xs:documentation>The GENT juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OUDENAARDE">
                <xs:annotation>
                    <xs:documentation>The OUDENAARDE juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TONGEREN">
                <xs:annotation>
                    <xs:documentation>The TONGEREN juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HASSELT">
                <xs:annotation>
                    <xs:documentation>The HASSELT juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="HUY">
                <xs:annotation>
                    <xs:documentation>The HUY juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EUPEN">
                <xs:annotation>
                    <xs:documentation>The EUPEN juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LIEGE">
                <xs:annotation>
                    <xs:documentation>The LIEGE juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VERVIERS">
                <xs:annotation>
                    <xs:documentation>The VERVIERS juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CHARLEROI">
                <xs:annotation>
                    <xs:documentation>The CHARLEROI juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TOURNAI">
                <xs:annotation>
                    <xs:documentation>The TOURNAI juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MONS">
                <xs:annotation>
                    <xs:documentation>The MONS juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NAMUR">
                <xs:annotation>
                    <xs:documentation>The NAMUR juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DINANT">
                <xs:annotation>
                    <xs:documentation>The DINANT juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ARLON">
                <xs:annotation>
                    <xs:documentation>The ARLON juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NEUFCHATEAU">
                <xs:annotation>
                    <xs:documentation>The NEUFCHATEAU juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MARCHE-EN-FAMENNE">
                <xs:annotation>
                    <xs:documentation>The MARCHE-EN-FAMENNE juridical district division.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="enterpriseDepositLanguage" final="restriction">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Enumeration to indicate the legal language use in the context of an enterprise creation
                or modification.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FR">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        French
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NL">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Dutch
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DE">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        German
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="localized" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Type used to indicate a translated element or an element in a specific language.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="language" type="enterpriseDepositLanguage" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Attribute to indicate the language of the content of the element.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="localizedName">
        <xs:complexContent>
            <xs:extension base="localized">
                <xs:sequence>
                    <xs:element name="value" type="common:string255">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                A translated text.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="office">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The notary (office) or the eGreffe organisation as known at Fednot.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="common:officeId">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The unique identifier of the office.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The name of the office.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bceNumber" type="common:bceNumber" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The enterprise number of the office.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="countryCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Type that represents a country in an ISO 2-letter code (ISO 3166).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nisCodeType">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Type that represents a NIS code to indicate a geographical area.
                It consists of 5 digits.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="baseAddress">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Base type that contains common elements of Belgian and foreign addresses.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="houseNumber" type="common:string255">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The house number.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postalBox" type="common:string10" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Optional postal box.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="common:string10">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The postal code.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="countryCode" type="countryCodeType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The country as an ISO 2-letter code.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="streetName" type="localizedName" maxOccurs="3">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The street name in a given language.
                        The street name can be specified in multiple languages.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="municipalityName" type="localizedName" maxOccurs="3">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The municipality name in a given language.
                        The municipality name can be specified in multiple languages.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="countryName" type="localizedName" minOccurs="0" maxOccurs="3">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The optional country name in a given language.
                        The country name can be specified in multiple languages.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="belgianAddress">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A Belgian address.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="baseAddress">
                <xs:sequence>
                    <xs:element name="streetCode" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Optional street code.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="nisCode" type="nisCodeType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Optional NIS code.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="foreignAddress">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A foreign address.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="baseAddress">
                <xs:sequence>
                    <xs:element name="stateName" type="localizedName" minOccurs="0" maxOccurs="3">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The optional state name in a given language.
                                The state name can be specified in multiple languages.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="notary">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A notary.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="personId" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Unique identifier of the notary as known at Fednot.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastName" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The last name of the notary.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="citizen">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A citizen.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="trustedEGreffeNrn" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The trusted eGriffie number.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="nrn" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The national number of the citizen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The email address of the citizen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lang" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The preferred language of the citizen.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="person" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Base type for a person identified by an ID given in the context of the xml document.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="ID" type="xs:ID" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="en">
                    Identifier given in the context of the xml document.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="personFunction">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The function that a specific person fulfills in the context of a company.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="person" type="xs:IDREF">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Identifier that references a person element in the context of the xml document.
                        This references the person fulfilling the given function.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="functionCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The code of the function that the person fulfills.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="startDate" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The date that the person takes on the function.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="representedMoralPerson" type="xs:IDREF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Identifier that references a moral person element in the context of the xml document.
                        Given when the given person represents a moral person.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="physicalPerson">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A physical person who has a function assigned in the company.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="person">
                <xs:sequence>
                    <xs:element name="rnRbis" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The national number of the physical person.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="firstNames" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The first name(s) of the physical person. Optional.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="lastName" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The last name of the physical person. Optional.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="street" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The street of the physical person.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="postalCode" type="common:string10" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The postal code of the physical person.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="locality" type="common:string255" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The locality of the physical person.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="moralPerson">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                A moral party that has a function assigned in the company.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="person">
                <xs:sequence>
                    <xs:element name="enterpriseName" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The enterprise name of the moral party.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="bceNumber" type="common:bceNumber">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The enterprise number of the moral party.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="legalFormCode" type="legalFormCode" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The Belgian legal form code for the enterprise (or Belgian branches) to be created.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="street" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The street of the physical person.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="postalCode" type="common:string10" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The postal code of the physical person.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="locality" type="common:string255" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The locality of the physical person.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="publication">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The plain text version of the publication in a given language.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="localized">
                <xs:sequence>
                    <xs:element name="publicationText" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Plain text version of the publication text.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="enterpriseDepositDocumentType" final="restriction">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                An enumeration with the different document types that are supported in ANNA search.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MINUTE">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A PDF document containing the act.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEED_ANNEX">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A PDF document added as annex.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VOLET_B">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A PDF document with an abstract of the act (volet B, luik B).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COORDINATED_STATUS">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A PDF document with an initial or coordinated statutes document
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="document">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents the metadata of a document.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="oid" type="common:oid">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The oid document identifier.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="enterpriseDepositDocumentType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The type of document.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="title" type="common:string255" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Optional title of the document.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="language" type="enterpriseDepositLanguage" minOccurs="0" maxOccurs="3">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The language of the document.  Can be specified multiple times if the document contains
                        translations.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="annex">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents the metadata of an annex document.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="document">
                <xs:sequence>
                    <xs:element name="subType" type="xs:string">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Specifies the type of annex.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="date" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Optional date for the document.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="financialData">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents the financial data of the company.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:sequence minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Describes the capital that a company has subscribed for. This is optional.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="capitalAmount" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The amount of the capital that a company has subscribed for.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="capitalCurrency" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The currency of the capital that a company has subscribed for.
                            Note that this is currently always specified in euro with value "EUR".
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:element name="companyDuration" type="xs:int">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The duration the company lives for in number of years.  This is specified as a number between 0
                        and 100.  A century (100 years) is the maximum supported by the law.  The value 0 has a special
                        meaning: it means the company duration is unlimited.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="agmMonth" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Indicates the month of the yearly general assembly meeting.
                        This is optional and is specified as a number between 1 and 12.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fiscalYearEndMonth" type="xs:int">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Indicates the month of the (yearly) end of the fiscal year.
                        This is required and is specified as a number between 1 and 12.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fiscalYearEndDay" type="xs:int">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Indicates the day of the month of the (early) end of the fiscal year.
                        This is required and is specified as a number between 1 and 31.  It must be consistent with the
                        specified month.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:sequence minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        When the company is constituted in the middle of a fiscal year, this can be used to describe the
                        properties of the exceptional first fiscal year using an explicit start and end date.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="exceptionalFiscalYearStart" type="xs:date" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Indicates the start date of the first (exceptional) fiscal year.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="exceptionalFiscalYearEnd" type="xs:date" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Indicates the end date of the first (exceptional) fiscal year.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="enterpriseDepositArchive" abstract="true">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Base metadata used both in an Enterprise Creation and an Enterprise Modification.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>

            <xs:element name="referenceGlossaryOid" type="common:oid" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The document identifier (oid) of the glossary PDF document that is used as the basis for
                        referential data, such as the act object codes.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="referenceXsdOid" type="common:oid" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        All versions of the xsd schemas that were used at some point in LTA Core and in ANNA search
                        are given an oid and are stored long term.  This element refers to the oid of the xsd schema
                        that was used to construct this xml document.

                        The element is optional, but it is highly recommended to fill it in.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="depositType" type="enterpriseDepositType">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Indicates the type of deposit: Enterprise Creation or Modification.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="requestId" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        RequestId as set by the client for use in the PRSU100C or PRSU100U message.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="actUniqueId" type="common:string50">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Unique identifier of the act, as specified by the client (eGreffe or eDepot).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Date when the act was signed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actTime" type="xs:time" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Optional time when the act was signed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="actTypeUniqueId" type="common:string20" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Act type unique id (as known at Fednot) referencing a unique act type in the referential service.
                        Optional and only used by eRegistration and eDepot.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="bypassDeedDocumentConsistencyValidation" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Indicates whether the validation rules regarding the consistency of the deed document should be
                        skipped.  These validation rules depend on the OCR processing of the deed document.  The rules
                        can be bypassed for cases where the OCR result is not satisfactory and leads unjustly to
                        violated validation rules.  In those cases, the author of the documents will manually review the
                        consistency of the deed document and will explicitly indicate that these validation rules should
                        be bypassed upon ingestion of the Enterprise Deposit SIP.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="office" type="office">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The notary (office), or the eGreffe organisation sending the request.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:choice>
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The person who signed and sent the request, this is either a notary or a citizen.
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="penHolder" type="notary">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The notary who signed and sent the request.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="citizen" type="citizen">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The citizen who signed and sent the request.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>

            <xs:element name="physicalPerson" type="physicalPerson" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Physical persons that are assigned a function in the company.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="moralPerson" type="moralPerson" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Moral parties that are assigned a function in the company.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="publication" type="publication" minOccurs="0" maxOccurs="3">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        A plain text version of the abstract (volet B, luik B).
                        If given, should be consistent with the abstracts in PDF form.
                        Can be omitted if not available.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="document" type="document" minOccurs="2" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Metadata of the documents (excluding the annexes) that should be available through ANNA search.
                        There should be at least 2 documents: the act itself and at least one abstract. Extra abstracts
                        could be given for other languages.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="annex" type="annex" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Metadata of the annex documents that should be available through ANNA search.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
