src/main/resources/xsd/fednot/anna/EnterpriseModificationDepositArchive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://fednot.be/2023/08/08/lta/anna/enterpriseModificationDepositArchive"
           xmlns="http://fednot.be/2023/08/08/lta/anna/enterpriseModificationDepositArchive"
           xmlns:eda="http://fednot.be/2023/08/08/lta/anna/enterpriseDepositArchive"
           xmlns:common="http://fednot.be/2023/08/08/lta/anna/common">

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Archive that contains all metadata related to an Enterprise Modification Deposit.

            History of changes:
            - 08/08/2023 : updated namespaces + added the juridicalDistrictDivision
            - 08/05/2023 : updated namespaces
            - 25/01/2023 : updated namespaces + added juridical districts needed for company deeds search.
            - 23/01/2023 : initial version.
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://fednot.be/2023/08/08/lta/anna/enterpriseDepositArchive"
               schemaLocation="EnterpriseDepositArchive.xsd"/>

    <xs:import namespace="http://fednot.be/2023/08/08/lta/anna/common"
               schemaLocation="CommonTypes.xsd" />

    <xs:complexType name="headOfficeAddressChange">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the change of the head office address.  This contains the new head office address and the
                date when the address changes.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:belgianAddress">
                <xs:sequence>
                    <xs:element name="effectivityDate" type="xs:date">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The date when the new address becomes the head office address.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="asIsSocialDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes an as-is social denomination of the enterprise for a specified language.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="socialDenomination" type="common:string255">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The social name of the enterprise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="updatedSocialDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the change of the social denomination for a specified language.  This contains the new name
                and the date when the name changes.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="socialDenomination" type="common:string255">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The social name of the enterprise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="effectivityDate" type="xs:date">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The date when the social name for the specified language changes to the new social name.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="stoppedSocialDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the removal of the social denomination for a specified language.  Only the date can be
                specified when the social denomination is removed.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="effectivityDate" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Optional date to specify when the social denomination for the given language is removed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="asIsAbbreviatedDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes an as-is abbreviated denomination of the enterprise for a specified language.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="abbreviatedDenomination" type="common:string255">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The abbreviated name of the enterprise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="updatedAbbreviatedDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the change of the abbreviated denomination for a specified language.  This contains the new
                name and the date when the name changes.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="abbreviatedDenomination" type="common:string255">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The abbreviated name of the enterprise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="effectivityDate" type="xs:date">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The date when the abbreviated name for the specified language changes to the new
                                abbreviated name.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="stoppedAbbreviatedDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the removal of the abbreviated denomination for a specified language.  Only the date can be
                specified when the abbreviated denomination is removed.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="effectivityDate" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Optional date to specify when the abbreviated denomination for the given language is
                                removed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="asIsCommercialDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes an as-is commercial denomination of the enterprise for a specified language.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="commercialDenomination" type="common:string255">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The commercial name of the enterprise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="updatedCommercialDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the change of the commercial denomination for a specified language.  This contains the new
                name and the date when the name changes.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="commercialDenomination" type="common:string255">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The commercial name of the enterprise.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="effectivityDate" type="xs:date">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The date when the commercial name for the specified language changes to the new
                                commercial name.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="stoppedCommercialDenomination">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the removal of the commercial denomination for a specified language.  Only the date can be
                specified when the commercial denomination is removed.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:localized">
                <xs:sequence>
                    <xs:element name="effectivityDate" type="xs:date" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                Optional date to specify when the commercial denomination for the given language is
                                removed.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="stoppedPersonFunction">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the removal of a function within the company that is assigned to a person.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="person" type="xs:IDREF">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Identifier that references a person element in the context of the xml document.
                        This references the person fulfilling the given function.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="functionCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The code of the function that the person fulfills.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The date from when the person will no longer fulfill the function within the enterprise.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stopJustificationCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Justification code for stopping the assigned function for the person.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="representedMoralPerson" type="xs:IDREF" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Identifier that references a moral person element in the context of the xml document.
                        Given when the given person represents a moral person.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="financialDataChange">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Represents a change of the financial data of the company.  This contains the new financial data and the
                date when the financial data changes.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="eda:financialData">
                <xs:sequence>
                    <xs:element name="effectivityDate" type="xs:date">
                        <xs:annotation>
                            <xs:documentation xml:lang="en">
                                The date when the financial data changes.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="legalFormChange">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the change of the legal form code of the enterprise.  This contains the new legal form code
                and the date when the legal form code changes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="legalFormCode" type="eda:legalFormCode">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The new legal form code.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="effectivityDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The date when the legal form code changes.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updatedEmail">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the change of the statutory email address of the enterprise.  This contains the new email
                address and the date when the email address changes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="email" type="common:string255">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The new statutory email address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="effectivityDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The date when the email address changes.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stoppedEmail">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the removal of the statutory email address.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="effectivityDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The date when the statutory email address is removed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="updatedWebsite">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the change of the statutory website address of the enterprise.  This contains the new website
                address and the date when the website address changes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="website" type="common:string255">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The new statutory website address.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="effectivityDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The date when the website address changes.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="stoppedWebsite">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Describes the removal of the statutory website address.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="effectivityDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        The date when the statutory website address is removed.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="enterpriseModificationDepositArchive">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Xml document containing all metadata in the context of an Enterprise Modification Deposit.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="eda:enterpriseDepositArchive">
                    <xs:sequence>
                        <xs:element name="asIsLegalLanguage" type="eda:enterpriseDepositLanguage">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The as is legal language of the company that is modified.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="newLegalLanguage" type="eda:enterpriseDepositLanguage" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The new legal language of the company that is modified.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="asIsJuridicalDistrict" type="eda:juridicalDistrictType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The as is juridical district (where the deed will be deposited).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="asIsJuridicalDistrictDivision" type="eda:juridicalDistrictDivisionType" minOccurs="1">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The as is juridical district division (where the deed will be deposited).
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="newJuridicalDistrict" type="eda:juridicalDistrictType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The new juridical district following a change of address which causes a change of juridical district.
                                    This field must be filled whenever an address is changed, even if the juridical district remains the same as the AS-IS.
                                    If the address is not changed, it must not be filled.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="newJuridicalDistrictDivision" type="eda:juridicalDistrictDivisionType" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The new juridical district division following a change of address which causes a change of juridical district.
                                    This field must be filled whenever an address is changed, even if the juridical district remains the same as the AS-IS.
                                    If the address is not changed, it must not be filled.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="prsu100UGenerationDate" type="xs:dateTime">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    Timestamp indicating when the Prsu100U was generated.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="actObjectCode" type="eda:actObjectCode" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The act object codes for the request.  Each object code represents a specific change
                                    and in this context (Enterprise Modification Deposit), multiple object codes can be
                                    specified to indicate all changes included in the Enterprise Modification Deposit.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="enterpriseNumber" type="common:bceNumber">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The enterprise number of the company. Unformatted.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="asIsLegalFormCode" type="eda:legalFormCode">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The as-is legal form code of the company.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="legalFormChange" type="legalFormChange" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The optional change of the legal form code of the company.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="financialDataChange" type="financialDataChange" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The optional change of financial date of the company.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="asIsHeadOfficeAddress" type="eda:belgianAddress">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The as-is head office address of the company.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="headOfficeAddressChange" type="headOfficeAddressChange" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The optional change of the head office address of the company.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="asIsEmail" type="common:string255" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The optional as-is statutory email address of the enterprise.
                                    Should be specified if the enterprise currently has a statutory email address.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:choice minOccurs="0">
                            <xs:element name="updatedEmail" type="updatedEmail">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        The optional change or addition of the statutory email address of the enterprise.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="stoppedEmail" type="stoppedEmail">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        The optional removal of the statutory email address of the enterprise.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>

                        <xs:element name="asIsWebsite" type="common:string255" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The optional as-is statutory website address of the enterprise.
                                    Should be specified if the enterprise currently has a statutory website address.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:choice minOccurs="0">
                            <xs:element name="updatedWebsite" type="updatedWebsite">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        The optional change or addition of the statutory website address of the
                                        enterprise.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="stoppedWebsite" type="stoppedWebsite">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">
                                        The optional removal of the statutory website address of the enterprise.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>

                        <xs:element name="asIsSocialDenomination" type="asIsSocialDenomination" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The as-is social name for an enterprise in a specific language.
                                    Can be specified for multiple languages.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="updatedSocialDenomination" type="updatedSocialDenomination" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The updated social name for an enterprise for a specific language.
                                    Note that for a given language, it is not possible to specify both an updated and a
                                    stopped social name.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="stoppedSocialDenomination" type="stoppedSocialDenomination" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The stopped social name for an enterprise for a specific language.
                                    Note that for a given language, it is not possible to specify both a stopped and an
                                    updated social name.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="asIsAbbreviatedDenomination" type="asIsAbbreviatedDenomination" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The as-is abbreviated name for an enterprise in a specific language.
                                    Can be specified for multiple languages.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="updatedAbbreviatedDenomination" type="updatedAbbreviatedDenomination" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The updated abbreviated name for an enterprise for a specific language.
                                    Note that for a given language, it is not possible to specify both an updated and a
                                    stopped abbreviated name.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="stoppedAbbreviatedDenomination" type="stoppedAbbreviatedDenomination" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The stopped abbreviated name for an enterprise for a specific language.
                                    Note that for a given language, it is not possible to specify both a stopped and an
                                    updated abbreviated name.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="asIsCommercialDenomination" type="asIsCommercialDenomination" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The as-is commercial name for an enterprise in a specific language.
                                    Can be specified for multiple languages.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="updatedCommercialDenomination" type="updatedCommercialDenomination" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The updated commercial name for an enterprise for a specific language.
                                    Note that for a given language, it is not possible to specify both an updated and a
                                    stopped commercial name.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="stoppedCommercialDenomination" type="stoppedCommercialDenomination" minOccurs="0" maxOccurs="3">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The stopped commercial name for an enterprise for a specific language.
                                    Note that for a given language, it is not possible to specify both a stopped and an
                                    updated commercial name.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="addedPersonFunction" type="eda:personFunction" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    A newly assigned function that a person fulfills in the context of the company.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="stoppedPersonFunction" type="stoppedPersonFunction" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    The removal of the assigned function that a person fulfills in the context of the
                                    company.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

</xs:schema>
