src/main/resources/xsd/fednot/anna/PublicationDatesFeedbackArchive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://fednot.be/2023/08/08/lta/anna/publicationDatesFeedbackArchive"
           xmlns="http://fednot.be/2023/08/08/lta/anna/publicationDatesFeedbackArchive"
           xmlns:common="http://fednot.be/2023/08/08/lta/anna/common">

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Archive that contains metadata on the PublicationDatesFeedbackArchiveSIP.  This archive is generated by BOSA
            in the context of an Enterprise Creation and Modification.  It is based on data received from the Belgian
            Official Gazette.  The xml document contains metadata that must be processed by ANNA search.
            
            History of changes:
            - 08/08/2023 : updated namespaces
        </xs:documentation>
    </xs:annotation>

    <xs:import namespace="http://fednot.be/2023/08/08/lta/anna/common"
               schemaLocation="CommonTypes.xsd" />

    <xs:element name="publicationDatesFeedbackArchive">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                Xml document containing the publication dates and numbers with some metadata.

                Note that all the publication date and number elements are optional according to the model.
                Nevertheless, the publication date and number should be filled in for at least one language.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>

                <xs:element name="referenceXsdOid" type="common:oid" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            All versions of the xsd schemas that were used at some point in LTA Core and in ANNA search
                            are given an oid and are stored long term.  This element refers to the oid of the xsd schema
                            that was used to construct this PublicationDatesFeedbackArchive.

                            The element is optional, but it is highly recommended to fill it in.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="receivalDate" type="xs:date">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The date when the publication dates and numbers were received from the Belgian Official
                            Gazette.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="receivalTime" type="xs:time">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The time when the publication dates and numbers were received from the Belgian Official
                            Gazette.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!-- publication date and number for each of the official languages -->
                <xs:element name="publicationDateFr" type="xs:date" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The publication date for the French version of the abstract in the Belgian Official Gazette.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="publicationNumberFr" type="common:string50" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The publication number for the French version of the abstract in the Belgian Official Gazette.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="publicationDateNl" type="xs:date" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The publication date for the Dutch version of the abstract in the Belgian Official Gazette.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="publicationNumberNl" type="common:string50" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The publication number for the Dutch version of the abstract in the Belgian Official Gazette.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="publicationDateDe" type="xs:date" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The publication date for the German version of the abstract in the Belgian Official Gazette.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="publicationNumberDe" type="common:string50" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The publication number for the German version of the abstract in the Belgian Official Gazette.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
