src/main/resources/xsd/fednot/naban/PublicationDatesFeedbackArchive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:pdfa="http://fednot.be/naban/publicationDatesFeedbackArchive"
           elementFormDefault="qualified"
           targetNamespace="http://fednot.be/naban/publicationDatesFeedbackArchive">


	<xs:annotation>
        <xs:documentation xml:lang="en">
            Archive that contains metadata on the PublicationDatesFeedbackArchiveSIP.  This archive is generated by BOSA
            in the context of an Enterprise Creation and Modification.  It is based on data received from the Belgian
            Official Gazette.  The xml document contains metadata that must be processed by ANNA search.
            
            History of changes:
            - 08/08/2023 : updated namespaces
        </xs:documentation>
    </xs:annotation>

    <xs:element name="publicationDatesFeedbackArchive">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="referenceXsdOid" type="xs:string" minOccurs="0"/>

                <xs:element name="receivalDate" type="xs:date"/>
                <xs:element name="receivalTime" type="xs:time"/>

                <!-- publication date and number for each of the official languages -->
                <xs:element name="publicationDateFr" type="xs:date" minOccurs="0"/>
                <xs:element name="publicationNumberFr" type="xs:string" minOccurs="0"/>
                <xs:element name="publicationDateNl" type="xs:date" minOccurs="0"/>
                <xs:element name="publicationNumberNl" type="xs:string" minOccurs="0"/>
                <xs:element name="publicationDateDe" type="xs:date" minOccurs="0"/>
                <xs:element name="publicationNumberDe" type="xs:string" minOccurs="0"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
